
<nav class="navbar navbar-default navigation" >
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-left"  routerLink="">
        <img class="imgCinemaNav" src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/512/Film-icon.png"/>
      </div>
    </div>
    <ul class="nav navbar-nav">
   <li class="CinemaTitleNav" ><a routerLink="" style="color: white">Cinemas</a></li>
    </ul>
    <ul>
   <li class="glyphicon glyphicon-user pull-right" style="padding: 28px;color: white">
     <a routerLink="/login" style="color: white;top: 10px;font-size: 18px;"> Admin</a></li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>
