<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul *ngIf="villes" class="list-group">
        <li class="glyphicon glyphicon-plus list-group-item clickable" style="background-color: #FFEFD5">
          <a routerLink="/admin/cinema/ville" style="color: black;font-weight: bold;font-size: 20px"> Ville</a> </li>
        <li [ngClass]="v==currentVilles?'active':''" *ngFor="let v of villes._embedded.villes" class="list-group-item clickable"
            (click)="onGetCinemas(v)">
          {{v.name}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class=" clickable list-group-item clickable" style="background-color: #FFEFD5"><a routerLink="/admin/cinema/cinemas" class="glyphicon glyphicon-plus "style="color: black;font-weight: bold;font-size: 18px" > cinema</a> </li>
        <li class=" clickable list-group-item clickable" style="background-color: #FFEFD5"><a routerLink="/admin/cinema/salles" class="glyphicon glyphicon-plus  "style="color: black;font-weight: bold;font-size: 18px" > salle</a> </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading listeCinemas">Liste des Cinémas</div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills ">
            <li [ngClass]="c==currentCinema?'active':''"  *ngFor="let c of cinemas._embedded.cinemas" class="clickable" >
              <a (click)="onGetSalles(c)" class="cinemasName"> {{c.name}} </a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading salleStyle">{{s.name}}</div>
                  <div class="panel-body" *ngIf="s.projections">
                    <div class="row">
                      <div class="col-md-5" >
                        <img  width="130" src="{{adminCinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}"  />
                      </div>
                      <div class="col-md-7">
                        <ul class="list-group">
                          <li class="list-group-item" style="background-color: #FAF0E6">Séances:</li>
                          <li   *ngFor="let p of s.projections._embedded.projections" class="list-group-item clickable">
                            {{p.seance.heureDebut}}  <p class="label label-primary" style="float: right;font-size:small">Prix : {{p.prix|number:'0.00'}} DH </p>
                          </li>
                        </ul>
                        <div style="float: right">
                          <button class="glyphicon glyphicon-edit btn alert-warning" style="margin-right: 10px" (click)="onUpdateSalle(s.id,currentCinema)"></button>
                          <button class="glyphicon glyphicon-trash btn alert-danger" (click)="onDeleteSalle(s.id,currentCinema)"></button>
                        </div>

                      </div>
                      <div *ngIf="isShow && s.id==mysalle.id">
                        <form #f="ngForm" (ngSubmit)="onSaveSalle(f.value,currentCinema)">
                          <div class="form-group">
                            <label class="control-label">Nom salle </label>
                            <input class="form-control"  [(ngModel)]="NomSalle" type="text" name="NomSalle" ngModel>
                          </div>
                          <div class="form-group">
                            <label class="control-label">nombre de places </label>
                            <input class="form-control" [(ngModel)]="NombrePlace" type="text" name="nombrePlace" ngModel>
                          </div>
                          <button type="submit" class="btn btn-success" (click)="tooggleDisplayOnsubmit()">modifier</button>
                        </form>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
